<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href=
"https://unpkg.com/papercss@1.8.2/dist/paper.min.css">
<title>Kings Cup - {{ room_id }}</title>
</head>
<body>
<nav class="border fixed split-nav">
  <div class="nav-brand">
    <h3><a href="#">Kings Cup</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <label for="collapsible1">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
        <li>Room: {{ room_id }}</li>
        <li>Name: {{ username }}</li>
      </ul>
    </div>
  </div>
</nav>
<div class="paper container margin-top margin-bottom">
    <div class="col flex-center">
        <div class="row">
            <div class="col-4">
            <h3>Room: {{ room_id }}</h3>
            </div>
            <div class="col-4">
            <h3>Name: {{ username }}</h3>
            </div>
            <div class="col-4">
            </div>
        </div>
        <p>Hello, {{ username}}! Your room ID is: {{ room_id }}</p>
        <p>The players in this room are:</p>
        <div id="players_list">
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
var room_id = "{{ room_id }}";
var username = "{{ username }}";

var state = {
    version: 0,
    players: {},
    message: "",
}

var update_players_list = function() {
    $("#players_list").empty();
    for (const key in state.players) {
        if (state.players.hasOwnProperty(key)) {
            var displayname = key;
            if (!state.players[key]) {
                displayname += " (offline)";
            }
            $("#players_list").append("<li>" + displayname + "</li>");
        }
    }
}

var state_updater = {
    poll: function() {
        args = {
            room_id: room_id,
            last_update: state.version,
        }
        $.ajax({
            url: "/await_state",
            type: "POST",
            dataType: "json",
            data: $.param(args),
            success: state_updater.onSuccess,
            error: state_updater.onError,
        })
    },

    sendMessage: function(message) {
        args = {
            room_id: room_id,
            new_state: {
                message: message,
            },
        };
        $.ajax({
            url: "/update_state",
            type: "POST",
            dataType: "text",
            data: JSON.stringify(args),
        });
    },

    onSuccess: function(response) {
        state = response;
        console.log(state.message);
        update_players_list();
        window.setTimeout(state_updater.poll, 0);
    },

    onError: function(response) {
        console.error("failed to poll");
        console.log(response);
        window.setTimeout(state_updater.poll, 500);
    },
}

function keep_alive() {
    $.ajax({
        url: "/keep_alive",
        type: "POST",
        data: { username: username, room_id: room_id },
    });
}


$(document).ready(function() {
    setInterval(keep_alive, 500);
    state_updater.poll();
});

</script>
</body>
</html>
